.navbar {
  background-color: #2f3337;
  color: white;
  padding: 15px 20px;
  position: sticky; 
  top: 0; 
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
  .nav-item {
    margin-right: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-item:hover {
    color: #FFD700;
  }
  